/* Home.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-color: #F1F0E8;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: scroll;
  }
  
  /* .container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bolder;
    color: #fff;
  } */
  
  .jumbotron {
    background-color: rgba(208, 37, 37, 0.5);
    padding: 20px;
    border-radius: 15px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
  }
  
  .homeBg{
    /* background-image: url('thomas-despeyroux-Dh5pUa2PwrY-unsplash.jpg'); */
    background-color: #4CAF50;
    height: 100vh;
  }
  .display-4 {
    font-size: 2.5rem;
  }
  
  .btn-primary {
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;
  }
  
  .btn-primary:hover {
    background-color: #45a049;
  }
  