/* Login.css */

body {
    margin: 0;
    padding: 0;
    font-family: 'Arial', sans-serif;
    background-size: cover;
    background-position: center;
    height: 100vh;
    overflow: scroll;
}

.sak{
    background-color: rgba(0, 0, 0, 0.5);
    height: 85vh;
    width: 80vh;
    padding: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    border-radius: 15px;
    font-size: large;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
}

.container {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    font-weight: bolder;
    color: #fff;
}

.form-container {
    background-color: rgba(0, 0, 0, 0.4);
    padding: 20px;
    border-radius: 15px;
    margin-top: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-control {
    width: 100%;
    padding: 15px; /* Adjust the padding to make the boxes larger */
    border: none;
    border-radius: 10px;
    height: 7.5vh;
    color: #fff;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-primary {
    background-color: #4CAF50;
    border: none;
    border-radius: 12px;
    padding: 10px 20px;
    font-size: large;
    border-style: solid;
    border-color: rgba(0, 0, 0, 0.2);
}

.btn-primary:hover {
    background-color: #45a049;
    border-style: solid;
    border-color: rgba(0, 0, 0, 1);
}

/* Change color of text for Sign Up and Reset Password */
.link-text {
    color: #00ff00 !important; /* Set green text color */
}


